@import "../../App.scss";

.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    font: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
  }
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    @include mobile {
      height: auto;
    }
    @include tablet {
      height: auto;
    }
  }
}
