.watch {
  width: 100vw;
  height: 100vh;

  .back {
    display: flex;
    align-items: center;
    position: absolute;
    font: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
  }
  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
}
